# Rust & Cargo
/target/
debug/
*.pdb
*.rs.bk

# Media & Downloads
/downloads/
/music/
/audio_output/
*.mp3
*.flac
*.m4a
*.webm
*.opus
*.wav
*.m3u8

# Temp & Secrets
.env
.env.*
cookies.txt
*.part
*.ytdl

# Nix & Direnv
.direnv/
.devbox/
result
result-*

# IDE
.idea/
.vscode/
.zed/
